@import "../../node_modules/rfs/scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Lato", "Roboto", "Arial", sans-serif;
  font-weight: 400;
  @include font-size(1.4rem);
}

/*Navbar*/
.fixed__top {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

.navbar {
  background-color: #9dcaf8;
  padding: 0;

  &-nav {
    margin-left: 4rem;
    margin-bottom: 0;

    li {
      margin-left: 1rem;
    }
  }
}

.navbar-toggler {
  width: 1.5em;
  height: 1.5em;
  content: "";
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  border: 2px #fff solid;
  cursor: pointer;
}

.logo {
  width: 6rem;
  height: 6rem;
}

/*Home Page*/
.home {
  background-image: -webkit-gradient(
                  linear,
                  left top,
                  left bottom,
                  from(rgba(0, 0, 0, 0.701)),
                  to(rgba(0, 0, 0, 0.701))
  ),
  url(../img/coder.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.701), rgba(0, 0, 0, 0.701)),
  url(../img/coder.jpeg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__textBox {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 5%;

  h5 {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 400;
  }

  h4 {
    margin-top: 1.5rem;
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
  }

  button {
    margin-top: 1rem;
  }
}

/*About Page*/
.about, .resume, .contact {
  background: url("../img/un.jpg");
  background-size: cover;
  height: auto;
  padding-top: 5rem;
}

.about__leftContent, .resume__leftContent, .contact__leftContent {
  height: auto;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;

  h2 {
    text-align: center;
    padding: 2rem 1rem;
  }

  img {
    width: inherit;
    border-radius: 0.5rem;
    //transform: ;
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 2px 2px 2px rgba(163, 163, 163, 0.5);
  }

  img:hover {
    transform: scale(1.1);
  }

  &--status {
    margin-top: 2rem;
    font-size: 80%;

    h3 {
      text-align: center;
      background: #3399ff;
      border-radius: 1rem;
      color: #e2e2e2;
      font-size: 1.5rem;
    }
  }

  &--attachment {
    margin-top: 2rem;
  }
}

.about__rightContent, .resume__rightContent, .contact__rightContent {
  height: auto;
  background-color: #eeeeee;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;

  &--shape {
    position: absolute;
    right: -150px;
    top: -20px;
    z-index: 0;
    opacity: 0.4;
  }

  h2 {
    font-weight: 600;
    padding: 2rem 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-top: 2rem;
    line-height: 2rem;
  }
}

.about__rightContent--aboutMe, .resume__rightContent--aboutMe, .resume__experience, .resume__education {
  margin-top: 2rem;

  &--color {
    color: #005cbf;
  }

  &--seeMore {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;

    button {
      font-size: 1.2rem;
    }
  }
}

.softSkill {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: left;

  h4 {
    font-size: 90%;
    font-weight: 600;
    color: #000;
    text-align: center;
  }

  svg {
    width: 3rem;
    height: auto;
  }

  p {
    font-size: 80%;
    color: #2b2b2b;
  }
}

/*Resume Page*/
.resume__experience, .resume__education {
  border-left: 1px solid dodgerblue;
  padding: 0;

  &--text {
    padding: 1rem;
    background: #dedede;
    border-left: 2px solid dodgerblue;
    font-size: 80%;
    position: relative;
    left: 30px;
    margin-bottom: 2rem;
    width: 95%;
    transition: all 0.5s ease-in;

    &:hover {
      transform: scale(1.005);
      box-shadow: 5px 5px 5px 5px #cbcbcb;
    }

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      background-color: #fff;
      border-radius: 100%;
      width: 20px;
      height: 20px;
      top: 15px;
      left: -42px;
      border: 2px solid #5371ff;
      z-index: 2;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      background-color: #5371ff;
      border-radius: 10px;
      width: 29px;
      height: 2px;
      top: 25px;
      left: -29px;
      z-index: 1;
    }

    &--content {
      list-style: none;
      li {
        margin-top: 0.5rem;
      }
      li::before{
        content: '✅';
        display: inline-block;
        margin-right: 0.4rem;
      }
    }
  }
}

/*For ALL Pages*/
.page {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
}

.page--active {
  display: flex;
  visibility: visible;
  opacity: 1;
}

/*Contact Page*/
.contact__map {
  border-radius: 10%;
  overflow: hidden;
  width: 50%;
  height: auto;
}

.contact__position {
  font-size: 120%;
  margin-top: 1.5rem;
  color: dodgerblue;

  h5 {
    color: #000;
  }

  .row {
    margin-top: 0.8rem;
  }
}

/*Blog Page*/
.blog {
  background-image: url("../img/white.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 4rem;

  &__card {
    margin-top: 0.4rem;
    font-size: 1rem;
    background: #eae2e3;
  }
}

/*Footer */
footer {
  background-color: #c8c8c8;
  background-size: cover;
  background-repeat: repeat;
}

.footer {
  padding: 0.5rem 0;

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__right {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;

    li {
      padding: 0 1rem;
      text-align: center;
    }

    ion-icon {
      font-size: 1.8rem;
      color: #0b2e13;
      vertical-align: center;
    }
  }
}